---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}


$body-bg: #333;
//$body-bg: #2A1D24;

$text-color: #ddd;

$jumbotron-bg: lighten($body-bg, 17%);

$link-color: #fff; 
$brand-info: #5bc0de;
$brand-primary: $brand-info;

$link-hover-color: #333;
$well-bg: $jumbotron-bg;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "bootstrap-sass/assets/stylesheets/bootstrap",
        "bootstrap-sass/assets/stylesheets/bootstrap/theme"
;


.logo{
	width: 64px;
	margin-top:-14px;
}
/* Space out content a bit */
body {
  
  padding-bottom: 20px;
  font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  line-height: 31.5px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  margin-top:10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right:10px;
  border-bottom: 1px solid #e5e5e5;
  border: 1px solid #331919;
  border-radius: 3px;
  background-image: linear-gradient(lighten(#3F1F1F, 10%), #3F1F1F);
  margin-bottom:10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.jumbotron{
  background-image: linear-gradient(lighten($jumbotron-bg, 10%), $jumbotron-bg);

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 990px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {

  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    width: 768px;
    margin: 0 auto;
  }
}

.marketing-img{
	width:42px;
	height:42px;
}


.servicios-img {
  position: relative;
  
  height:182px;
  overflow: hidden;
  border: 1px solid #666;
  padding:5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
          margin-bottom:10px;
}


 
.servicios-img img {
	width: 100%;
 
}
 
.servicios-img p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

/*#291C21*/

.header-logo{
  font-size:225%;
}